.all{
    background-color: rgb(2, 2, 59);
}
#hey {
    background-color: #45D4D4;
}
.text-color {
    color: white;
}
.navbar-brand {
    box-shadow: 4px 4px 4px rgb(2, 2, 59);
}
.fab {
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
}
.card-body {
    /* border-right: 8px solid rgb(120, 209, 205); */
    background-color:#45d4d4;
    box-shadow: 4px 4px 4px rgb(2, 2, 59)
}
.reps{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
}
.cont2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: 10rem;
}
.userdesc{
    margin-left: 52rem;
    color: white;
}
#search{
    box-shadow: 4px 4px 4px rgb(2, 2, 59)
}