<div class="all">
    <div class="container" id="hey">
        <div class="row" >
        <div class=" col-6 ">
            <a class="navbar-brand text-color fs-1" ><i class="fab fa-github"></i> Github-Search</a>
            <br>
            <form  class="mt-2">
                <div class="input-group rounded">
                    <input type="text" id="search" name="username" class="form-control rounded inputSearch" [(ngModel)]="username" placeholder="Github UserName.." aria-label="Search" aria-describedby="search-addon" />
                
               
                    <button type="submit" appHiglight class="btn button text-light "(click)=" searchUser()">search </button>
            
            </div>
            </form>
        </div>
      </div>
    </div>
    <br><br>
    <div class="userdesc"  *ngIf="user">
        <img src="{{user.avatar_url}}"  width="300rem">
        <div class="desc">
        <p>Name: {{user.name}}</p>
        <p>Location:{{user.location}}</p>
        <p>Bio:{{user.Bio}}</p> 
        <p>Followers:{{user.followers}}</p>
        <p>Following:{{user.following}}</p>
        <p>Repositories:{{user.public_repos}}</p>
    </div>
    </div>
    <div class="row">
    <div class="container" id="cont2" style="display: flex; flex-direction: row; flex-wrap: wrap;margin-left: 5rem; margin-top: 2%;">
     <div class="reps" *ngFor="let repo of repositories">
         <div class="card" style="width: 20rem; height: 23rem; ">
         <div class="card-header" >
    <h2>{{repo.name}}</h2>
    <div class="card-body " >
    <p>{{repo.description}}</p>
    <p>{{repo.language}}</p>
    <p>{{repo.create_at|date}}</p>
     </div>
    </div>
    </div>
    </div>
     </div>
    </div>
    </div>
