.all{
    background-color: rgb(5, 5, 5);
}
#hey {
    background-color: #dd0256;
    height: 150px;
    width:100rem ;
}
img{
    border-radius: 50%;
    height: 45%;
    outline: 2px solid black;
    margin-left: 5%;
   
}
.text-color {
    color: white;
}
.navbar-brand {
    box-shadow: 4px 4px 4px rgb(5, 5, 5);
}
.fab {
    color: white;
}
.row{
    display: flex;
    flex-direction: row;
}
.card-body {
   
    background-color:#dd0256;
    box-shadow: 4px 4px 4px rgb(2, 2, 2)
}
.reps{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    color: black;
}
.cont2{
display: flex;
flex-direction: row;
flex-wrap: wrap;

}
.userdesc{
    /* margin-left: 45rem; */
    color: white;
    text-align: center;
    display: flex;
    margin-top: 5%;
 
}
#search{
    box-shadow: 4px 4px 4px rgb(5, 5, 5)
}
.btn{
    background-color: #050505;
    box-shadow: 4px 4px 4px rgb(248, 246, 246)

}
.desc{
    margin-left: 10%;
    margin-top: 2%;
}
.btn2{
    width: 150px;
    height: 35px;
    color: rgb(255, 250, 250);
    font-size: 15px;
    background-color: #dd0256;
    border-radius: 10px;
 
  
}